<br>

<div class="row" *ngIf="tv">
  <div class="col-md-4">
    <img src="https://image.tmdb.org/t/p/w300{{ tv.poster_path }}" alt="{{ tv.title }}">
  </div>
  <div class="col-md-8">
    <div class="row"><h1>{{ tv.name }} <small class="text-muted">({{ tv.first_air_date | date:'y' }} - {{ tv.last_air_date | date:'y' }} )</small> </h1></div>
    <div class="row" *ngIf="tv.tagline"> <h2>{{ tv.tagline}}</h2> </div>
    <div class="row">
      <div class="col-md-6"><h5><strong>Calificación: {{ tv.vote_average}}  - De: {{ tv.vote_count }} voto(s)</strong></h5></div>
      <div  style="text-align: right!important;">
        <!-- Fav -->
        <button type="button" class="btn btn-outline-success" style="margin: 3px;" (click)="setFavorite()" *ngIf="!acc_state || !acc_state.favorite">
          <img src="assets/sprites/si-glyph-heart-plus.svg"  width="30px"/>
        </button>
        <button type="button" class="btn btn-outline-success" style="margin: 3px;" (click)="setFavorite()" *ngIf="acc_state && acc_state.favorite">
          <img src="assets/sprites/si-glyph-heart.svg"  width="30px"/>
        </button>

        <!-- Watchlist -->
        <button type="button" class="btn btn-outline-success" style="margin: 3px;" (click)="addToWatchlist()" *ngIf="!acc_state || !acc_state.watchlist">
          <img src="assets/sprites/si-glyph-clock.svg"  width="30px"/>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1" *ngFor="let g of tv.genres">
        <span class="badge badge-primary">{{ g.name }}</span>
      </div>
    </div>
    <div class="row" style="height: 300px!important;">
      <h3 style="margin-top: 10px!important;"><strong>Resumen</strong></h3>
      <p >{{ tv.overview }}</p>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-9">
    <div class="row">
      <h2>Recomendaciones</h2>
    </div>
    <div class="row">
      <!--<div class="row">
        <div class="col-sm-2" *ngFor="let c of cast">
          <div class="card">
            <div class="panel-body">
              <img style="width: 50px!important; height: auto!important;" alt="" src="https://image.tmdb.org/t/p/w300{{ c.profile_path }}">
            </div>
            <div class="panel-footer">
              <p style="font-size: 12px;"><strong>{{ c.name }}</strong></p>
              <p style="font-size:12px;">{{ c.character }}</p>
            </div>
          </div>
        </div>
      </div>-->
      <div class="card-group" *ngFor="let r of recomendatios" >
        <div class="card text-center" style="width: 200px!important;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w300{{ r.backdrop_path }}" style="width: 200px!important;" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title"><a [routerLink]="['/tv', r.id ]" >{{ r.name }}</a></h4>
            <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
            <p class="card-text"><small class="text-muted">{{ r.vote_average }} de {{ r.vote_count }}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3" *ngIf="tv">
    <div class="card">
      <div class="card-header">
        <strong>Detalles</strong>
      </div>
      <div class="card-body">
        <div class="container-fluid">
          <div class="row"><p><strong>Fecha de estreno:</strong> {{ tv.first_air_date }}</p></div>
        </div>
        <div class="container-fluid">
          <div class="row"><strong>Ultima vez al aire: </strong></div>
          <div class="row">
            <p>{{ tv.last_air_date}}</p>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row"><strong>Lanzamiento: </strong></div>
          <div class="row">
            <p *ngFor="let pc of tv.origin_country"> {{ pc }}</p>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row"><strong>Lenguaje original:</strong></div>
          <div class="row"><p>{{ tv.original_language }}</p></div>
        </div>
        <div class="container-fluid">
          <div class="row"><strong>Lenguajes hablados: </strong></div>
          <div><p *ngFor="let l of tv.languages" >{{ l }}</p></div>
        </div>
        <div class="container-fluid">
          <div class="row"><strong>Producido por: </strong></div>
          <div class="row" *ngFor="let pc of tv.production_companies "><p>{{ pc.name }}</p></div>
        </div>
        <div class="container"  *ngIf="tv.seasons">
          <div class="row"><strong>Número de temporadas: </strong></div>
          <div class="row"><p>{{ tv.seasons.length }}</p></div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<br>

<div class="row"></div>


