<br>

<div class="container">
  <div class="row">
    <div class="card-columns">
      <div class="card" *ngFor="let t of tv">
        <img class="card-img-top" src="https://image.tmdb.org/t/p/w300{{ t.backdrop_path }}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title"><a [routerLink]="[ t.id]">{{ t.name }}</a></h4>
          <p class="card-text">{{t.overview}}.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{ t.first_air_date }}</small>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 text-center">
    <button type="button" (click)="getShows()" class="btn btn-primary btn-lg">Cargar más</button>
  </div>
  <br>

</div>
