
<h1>Listados populares</h1>

<hr>

<div class="container" id="movies">
  <div class="row"><h2><a [routerLink]="['/movies']">Películas</a></h2></div>
  <div class="row">
    <div class="card-columns">
      <!--<div class="card animated fadeIn fast"  *ngFor="let m of movies">
        <img class="card-img-top img-fluid" src="https://image.tmdb.org/t/p/w300{{ m.poster_path }}" >
        <div class="card-body">
          <h4 class="card-title">{{ m.title }}</h4>
          &lt;!&ndash;<p class="card-text">{{ m.overview }}</p>&ndash;&gt;
          <p class="card-text"><small class="text-muted">{{ m.release_date }}</small></p>
          <a [routerLink]="['movies', m.id]"  class="btn btn-block btn-outline-primary" >Ver más...</a>
        </div>
      </div>-->
      <div class="card" *ngFor="let m of movies">
        <img class="card-img-top" src="https://image.tmdb.org/t/p/w300{{ m.poster_path }}" >
        <div class="card-body">
          <h4 class="card-title"><a [routerLink]="['/movies', m.id ]" > {{ m.title }} </a></h4>
          <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
          <p class="card-text"><small class="text-muted">{{ m.release_date }}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" id="tv">
  <div class="row"><h2><a [routerLink]="['/tv']">TV shows</a></h2></div>
  <div class="row">
    <div class="card-columns">
      <div class="card" *ngFor="let t of tv">
        <img class="card-img-top" src="https://image.tmdb.org/t/p/w300{{ t.backdrop_path }}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{ t.name }}</h4>
          <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
          <p class="card-text"><small class="text-muted">{{ t.first_air_date }}</small></p>
        </div>
      </div>
      <!--<div class="card animated fadeIn fast" *ngFor="let t of tv" >
        <img class="card-img-top img-fluid" src="https://image.tmdb.org/t/p/w300{{ t.backdrop_path }}" >
        <div class="card-body">
          <h4 class="card-title">{{ t.name }}</h4>
          &lt;!&ndash;<p class="card-text"> {{ t.overview}} </p>&ndash;&gt;
          <p class="card-text"><small class="text-muted">{{ t.first_air_date }} </small></p>
          <a  class="btn btn-block btn-outline-primary" [routerLink]="['tv', t.id]">Ver más...</a>
        </div>
      </div>-->
    </div>
  </div>
</div>

