<br>

<div class="row" *ngIf="movie">
  <div class="col-md-4">
    <img src="https://image.tmdb.org/t/p/w300{{ movie.poster_path }}" alt="{{ movie.title }}">
  </div>
  <div class="col-md-8">
    <div class="row"><h1>{{ movie.title }} <small class="text-muted">({{ movie.release_date | date:'y' }})</small> </h1></div>
    <div class="row" *ngIf="movie.tagline"> <h2>{{ movie.tagline}}</h2> </div>
    <div class="row">
      <div class="col-md-6">
        <h5><strong>Calificación: {{ movie.vote_average}}  - De: {{ movie.vote_count }} voto(s)</strong></h5>
      </div>
      <div class="col-md-6" style="text-align: right!important;">
        <button type="button" class="btn btn-outline-success" (click)="setFavorite()" *ngIf="!acc_state || !acc_state.favorite">
          <img src="assets/sprites/si-glyph-heart-plus.svg"  width="30px"/>
        </button>
        <button type="button" class="btn btn-outline-success" (click)="setFavorite()" *ngIf="acc_state && acc_state.favorite">
          <img src="assets/sprites/si-glyph-heart.svg"  width="30px"/>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1" *ngFor="let g of movie.genres">
        <span class="badge badge-primary">{{ g.name }}</span>
      </div>
    </div>
    <div class="row" style="height: 300px!important;">
      <h3 style="margin-top: 10px!important;"><strong>Resumen</strong></h3>
      <p >{{ movie.overview }}</p>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-9">
    <div class="row">
      <h2>Cast</h2>
    </div>
    <div class="row">
      <!--<div class="row">
        <div class="col-sm-2" *ngFor="let c of cast">
          <div class="card">
            <div class="panel-body">
              <img style="width: 50px!important; height: auto!important;" alt="" src="https://image.tmdb.org/t/p/w300{{ c.profile_path }}">
            </div>
            <div class="panel-footer">
              <p style="font-size: 12px;"><strong>{{ c.name }}</strong></p>
              <p style="font-size:12px;">{{ c.character }}</p>
            </div>
          </div>
        </div>
      </div>-->
      <div class="card-group" *ngFor="let c of cast" >
        <div class="card text-center" style="width: 200px!important;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w300{{ c.profile_path }}" style="width: 200px!important;" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{ c.name }}</h4>
            <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
            <p class="card-text"><small class="text-muted">{{ c.character }}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3" *ngIf="movie">
    <div class="card">
      <div class="card-header">
        <strong>Detalles</strong>
      </div>
      <div class="card-body">
        <div class="container-fluid">
          <div class="row"><p><strong>Fecha de estreno:</strong> {{ movie.release_date }}</p></div>
        </div>
        <div class="container-fluid">
          <div class="row"><strong>Lanzamiento: </strong></div>
          <div class="row">
            <p *ngFor="let pc of movie.production_countries"> {{ pc.name }}</p>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row"><strong>Lenguaje original:</strong></div>
          <div class="row"><p>{{ movie.original_language }}</p></div>
        </div>
        <div class="container-fluid">
          <div class="row"><strong>Lenguajes hablados: </strong></div>
          <div><p *ngFor="let sl of movie.spoken_languages" >{{ sl.name }}</p></div>
        </div>
        <div class="container-fluid">
          <div class="row"><strong>Recaudación:</strong></div>
          <div><p>{{ movie.revenue | currency:'USD' }}</p></div>
        </div>
        <div class="container-fluid">
          <div class="row"><strong>Producido por: </strong></div>
          <div class="row" *ngFor="let pc of movie.production_companies "><p>{{ pc.name }}</p></div>
        </div>
        <div class="container-fluid" *ngIf="movie.homepage.length">
          <div class="row"><a href="{{ movie.homepage }}">{{ movie.title }}</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<br>

<div class="row"></div>


