<!--<div class="card" *ngFor="let i of items" style="margin-top: 5px!important;">
  <div class="card-body">
    <div class="container" *ngIf="i.media_type == 'movie'">
      <div class="col-md-3">
        <img height="250px!important;" src="https://image.tmdb.org/t/p/w300{{ i.poster_path }}" alt="{{ i.title }}">
      </div>
      <div class="col-md-9">
        <div class="col-md-6"><h2>{{ i.title }}</h2></div>
        <div class="col-md-6" style="text-align: right!important;">{{ i.vote_average}}</div>
      </div>
    </div>
  </div>

  &lt;!&ndash;<img class="card-img-top" src="https://image.tmdb.org/t/p/w300{{ m.poster_path }}" >
  <div class="card-body">
    <h4 class="card-title">{{ m.title }}</h4>
    &lt;!&ndash;<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>&ndash;&gt;
    <p class="card-text"><small class="text-muted">{{ m.release_date }}</small></p>
  </div>&ndash;&gt;
</div>-->
<br><br>
<div class="row" *ngFor="let i of items">
  <div class="container" *ngIf="i.media_type == 'movie'">
    <div class="row" width="100%important!">
      <div class="col-sm-3">
        <img height="250px!important;" src="https://image.tmdb.org/t/p/w300{{ i.poster_path }}" alt="{{ i.title }}">
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-6"><h4>{{ i.title }}</h4></div>
          <div class="col-sm-6" style="text-align: right!important;">{{ i.vote_average}}</div>
        </div>
        <div class="row">
          <div class="col-sm-6"><h4>Película</h4></div>
          <div class="col-sm-6" style="text-align: right!important;"> {{ i.release_date }}</div>
        </div>
        <div class="row">
          <p style="min-height: 100px!important;">
            {{ i.overview }}
          </p>
        </div>
        <div class="row">
          <a [routerLink]="['/movies', i.id ]">Ver más....</a>
        </div>
      </div>
    </div>
    <hr>
  </div>

  <!-- TV shows -->

  <div class="container" *ngIf="i.media_type == 'tv'">
    <div class="row" width="100%important!">
      <div class="col-sm-3">
        <img height="250px!important;" src="https://image.tmdb.org/t/p/w300{{ i.poster_path }}" alt="{{ i.title }}">
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-6"><h4>{{ i.name }}</h4></div>
          <div class="col-sm-6" style="text-align: right!important;">{{ i.vote_average}}</div>
        </div>
        <div class="row">
          <div class="col-sm-6"><h4>TV show</h4></div>
          <div class="col-sm-6" style="text-align: right!important;"> {{ i.first_air_date }}</div>
        </div>
        <div class="row">
          <p style="min-height: 100px!important;">
            {{ i.overview }}
          </p>
        </div>
        <div class="row" style="position: absolute; margin-bottom: 10px;">
          <a [routerLink]="['/tv', i.id ]">Ver más....</a>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>


<div class="alert alert-warning" role="alert" *ngIf="!items.length">
  No se encontraron resultados....
</div>
