<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/movies']">Peliculas<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/tv']">TV</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0" >
      &lt;!&ndash;<input class="form-control mr-sm-2" type="search" placeholder="Buscar película, show o actor..." (keyup)="buscar(searchBox.value)" #searchBox  aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" *ngIf="!movie_auth_srv.isUserAuthenticated" type="button" (click)="login()">Login</button>&ndash;&gt;
      <li class="nav-item dropdown mr-auto" *ngIf="movie_auth_srv.isUserAuthenticated">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ movie_auth_srv.user_data.username }}</a>
        <div class="dropdown-menu"  >
          <a class="dropdown-item" [routerLink]="['/favorites']">Mis favoritos</a>
          <a class="dropdown-item" href="#">Mis votados</a>
          <a class="dropdown-item" href="#">Mi lista de deseos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"  (click)="logout()" >Cerrar sesión</a>
        </div>
      </li>
    </div>
  </div>

</nav>-->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/home']" >
    <img src="assets/img/popcorn.png" height="30px" alt="">
    Pelisang
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav w-100">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/movies']" >Películas <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">

        <a class="nav-link" routerLinkActive="active" [routerLink]="['/tv']" >Shows de TV</a>
      </li>

      <form class="form-inline ml-auto">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" (keyup)="buscar(searchBox.value)" #searchBox aria-label="Buscar....">
      </form>
      <li class="nav-item" *ngIf="!movie_auth_srv.isUserAuthenticated">
        <a class="btn btn-primary"  (click)="login()" *ngIf="!movie_auth_srv.isUserAuthenticated">Login</a>
      </li>

      <li class="nav-item dropdown ml-auto" *ngIf="movie_auth_srv.isUserAuthenticated">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ movie_auth_srv.user_data.username }}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/favorites']">Mis favoritos</a>
          <a class="dropdown-item" [routerLink]="['/rateds']">Mis votados</a>
          <a class="dropdown-item" [routerLink]="['/watchlist']">Mi lista de deseos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"  (click)="logout()" >Cerrar sesión</a>
        </div>
      </li>
    </ul>



  </div>
</nav>
