<br>
<div class="container">
  <div class="row">
    <div class="card-columns">
      <div class="card" *ngFor="let m of movies">
        <img class="card-img-top" src="https://image.tmdb.org/t/p/w300{{ m.poster_path }}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title"><a [routerLink]="[m.id]">{{ m.title }}</a></h4>
          <p class="card-text">{{m.overview}}.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{ m.release_date }}</small>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 text-center">
    <button type="button" (click)="getMovies()" class="btn btn-primary btn-lg">Cargar más</button>
  </div>
  <br>

</div>
