<br><br>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="container">
          <h3>Películas</h3>
        </div>
        <div class="container">
          <ul class="list-unstyled">
            <li class="media" *ngFor="let m of favs_movies">
              <img class="mr-3" width="100px" src="https://image.tmdb.org/t/p/w300{{ m.poster_path }}" alt="Generic placeholder image">
              <div class="media-body">
                <div class="row container"><div class="com-md-12"><h5>{{ m.title }}</h5></div></div>
                <div class="row container">
                  <div class="col-md-4">{{ m.vote_average }} de {{ m.vote_count }} votos</div>
                  <div class="col-md-4" >{{ m.release_date }}</div>
                  <div class="col-md-4"><span class="glyphicons glyphicons-heart"></span></div>
                </div>
                <div class="row container">
                  <p *ngIf="m.overview" style="min-height: 50px;">{{ m.overview }}</p>
                  <p *ngIf="!m.overview" class="text-muted"> No existe una reseña para esté artículo. </p>
                </div>
                <div class="row container">
                  <a [routerLink]="['/movies', m.id]">Ver más...</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="container">
          <h3>Shows de TV</h3>
        </div>
        <div class="container">
          <ul class="list-unstyled">
            <li class="media" *ngFor="let tv of favs_tv">
              <img class="mr-3" width="100px" src="https://image.tmdb.org/t/p/w300{{ tv.poster_path }}" alt="Generic placeholder image">
              <div class="media-body">
                <div class="row container"><div class="com-md-12"><h5>{{ tv.name }}</h5></div></div>
                <div class="row container">
                  <div class="col-md-6">{{ tv.vote_average }} de {{ tv.vote_count }} votos</div>
                  <div class="col-md-6" style="text-align: right!important;">{{ tv.first_air_date }}</div>
                </div>
                <div class="row container">
                  <p *ngIf="tv.overview" style="min-height: 50px;">{{ tv.overview }}</p>
                  <p *ngIf="!tv.overview" class="text-muted"> No existe una reseña para esté artículo. </p>
                </div>
                <div class="row container">
                  <a [routerLink]="['/tv', tv.id]">Ver más...</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
